.env

node_modules/

.vs

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store

dist/

#terraform
.terraform/
secret.tf
secret-files/
secret.yml